<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
     

<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
       <h1 th:text=" 'Bonjour '+${name}+' Thymeleaf' "></h1>   
</body>
</html>